body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: #f7f8fc;
  color: #222;
}

/* NAVBAR */
nav {
  background: #111;
  color: white;
  padding: 18px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul {
  display: flex;
  gap: 25px;
  list-style: none;
}
nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: 500;
}
nav ul li a:hover {
  color: #c0c0c0;
}

/* SECTIONS */
.section {
  padding: 60px;
  text-align: center;
}
.section h2 {
  font-size: 28px;
  margin-bottom: 15px;
  font-weight: 600;
}

/* HOME */
.home {
  background: white;
  padding: 80px 20px;
}
.home h1 span {
  color: #1a73e8;
}

/* PROJECT CARDS */
.project-card {
  background: white;
  padding: 20px;
  margin: 15px auto;
  max-width: 650px;
  border-radius: 8px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.08);
}
.project-card a {
  display: inline-block;
  margin-top: 10px;
  color: #1a73e8;
  font-weight: 600;
  text-decoration: none;
}
.project-card a:hover {
  color: black;
}
